@import "tailwindcss";

body {
  min-height: 100vh;
  background-color: #fcfcfc;
}

hr {
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}
.active {
  @apply bg-red-100/35;
  border-color: tomato;
}
.Toastify__progress-bar--info {
  background: #ff6347 !important;
}
